{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  {% if author.avatar %}
  <div class="author__avatar">
    {% if author.avatar contains "://" %}
    	<img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
    	<!-- <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}"> -->
    	<img src="{{ author.avatar | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>
  {% endif %}


  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    <h3 class="author__employer">{{ author.employer }}</h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">

      {% if author.location %}
        <li><a href="{{author.googleMaps}}" target="_blank"><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>🌍 {{ author.location }}</a></li>
      {% endif %}

      {% if author.office %}
        <li><i class="fa fa-map-signs" aria-hidden="true"></i> {{ author.office }}</li>
      {% endif %}

      {% if author.researchGroup %}
        <li><a href="{{author.researchUri}}" target="_blank"><i class="fa fa-fw fa-flask" aria-hidden="true"></i> {{author.researchGroup}}</a></li>
      {% endif %}

      {% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label | default: "Email" }}</a></li>
      {% endif %}
      </ul>
      <p />
      <ul class="author__urls social-icons">

      {% if author.twitter %}
        <li><a target="_blank" href="https://twitter.com/{{ author.twitter }}"><i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
      {% endif %}

      {% if author.github %}
        <li><a target="_blank" href="https://github.com/{{ author.github }}"><i class="fa fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
      {% endif %}

      {% if author.dblp %}
        <li><a target="_blank" href="{{ author.dblp }}"><i class="fa fa-fw fa-book" aria-hidden="true"></i>🕮 DBLP</a></li>
      {% endif %}

      {% if author.googlescholar %}
        <li><a target="_blank" href="{{ author.googlescholar }}"><i class="ai ai-google-scholar-square ai-fw"></i> Google Scholar</a></li>
      {% endif %}


    </ul>
  </div>
</div>
