
<div class="page__footer-copyright"> <img src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"> {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. {{ site.data.ui-text[site.locale].powered_by | default: "Powered by" }}
    <a href="https://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow">Minimal Mistakes</a>.
    <!-- <img src="assets/PANO_20210213_172143.jpg" width="30%" /> -->
</div>
    
