---
# Only the main Sass file needs front matter (the dashes are enough)
---

$indent-var: 0;
$max-width: 1400px;


@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


// doc : https://mmistakes.github.io/minimal-mistakes/docs/stylesheets/
.sidebar__right {
  
    // Try something to hide right sidebar when screen is too small
    @include breakpoint(max-width $large) {
      display: none;
    }

    position: -webkit-sticky;
    position: sticky;
    top: 2em;
    float: right;
}

// Reduce space below list items
ul li,
ol li {
  margin-bottom: 0em;
}

li ul {
  margin-top: 0em;
}

// Reduce default font size
html {
  font-size: medium;

  @include breakpoint($medium) {
    font-size: medium;
  }

  @include breakpoint($large) {
    font-size: large;
  }

  @include breakpoint($x-large) {
    font-size: large;
  }

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.paragraph {
   text-align: justify;
   margin-bottom: 0.4em;
}

